@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

header {
  width: 100%;
  max-width: 1000px;
  position: fixed;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #aaa, 0px 5px 20px 0px #000;
}

footer {
  font-size: 8pt;
  margin: 20px;
  text-align: center;
  margin: 0;
}

nav {
  margin-right: 15px;
}

ul > li {
  display: inline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 5px;
  width: 300px;
  text-align: center;
  font-size: 14pt;
}

#submit {
  background-color: #ffd819;
  border: 1px solid #00aa00;
}

#video {
  margin: 15px;
  width: 560px;
  height: 315px;
}

#newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#header-img {
  margin: 0 0 20px 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 13pt;
  margin: 10px;
}

.nav-link:hover {
  color: #999;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 250px auto 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 15px;
}

.material-icons {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  margin-right: 15px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-64 {
  font-size: 64px;
}

.feature {
  grid-column: 2 / 3;
}

.feature-description {
  grid-column: 2 / 3;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .md-64 {
    position: absolute;
    left: -5000px;
  }

  #video {
    width: 336px;
    height: 189px;
  }
}
